<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>522485139059-3l7jevgpqle18ovtk26qbfn1ssrrej1t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.522485139059-3l7jevgpqle18ovtk26qbfn1ssrrej1t</string>
	<key>API_KEY</key>
	<string>AIzaSyDAU8esLzjfNwKb6fGHMLReSZlUSsyoND8</string>
	<key>GCM_SENDER_ID</key>
	<string>522485139059</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Afnan-khalid.useFirebase-day24-Afnan</string>
	<key>PROJECT_ID</key>
	<string>first-project-afnan</string>
	<key>STORAGE_BUCKET</key>
	<string>first-project-afnan.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:522485139059:ios:8f1b4186ea71c7f9c88c06</string>
</dict>
</plist>