<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>557579516201-t9l0piabr693pjfgmru9h0r4svsc9uin.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.557579516201-t9l0piabr693pjfgmru9h0r4svsc9uin</string>
	<key>API_KEY</key>
	<string>AIzaSyCXaN-q7JKcrcErAnhRDW2Axv8pvXX1IcE</string>
	<key>GCM_SENDER_ID</key>
	<string>557579516201</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>f.Day24</string>
	<key>PROJECT_ID</key>
	<string>day24-1</string>
	<key>STORAGE_BUCKET</key>
	<string>day24-1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:557579516201:ios:2619b646eeff38398b1f38</string>
</dict>
</plist>