<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>323675231724-2i61gmgcn1vohh5ennnq4j2vq59k9jhu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.323675231724-2i61gmgcn1vohh5ennnq4j2vq59k9jhu</string>
	<key>API_KEY</key>
	<string>AIzaSyBrBRzlniU8Q4NHi-wfNjPKMPKAfcH_4dM</string>
	<key>GCM_SENDER_ID</key>
	<string>323675231724</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.FA.Day24</string>
	<key>PROJECT_ID</key>
	<string>fatimah551913</string>
	<key>STORAGE_BUCKET</key>
	<string>fatimah551913.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:323675231724:ios:620f1f8b871cb77d069cc9</string>
</dict>
</plist>