<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>925473543038-2gilv3585cj55kentiu0ara3dcrdbrkj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.925473543038-2gilv3585cj55kentiu0ara3dcrdbrkj</string>
	<key>API_KEY</key>
	<string>AIzaSyCVtW3_SiAMx2AFtHjxGj15M4KEKsPG5wo</string>
	<key>GCM_SENDER_ID</key>
	<string>925473543038</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tasneem.day24</string>
	<key>PROJECT_ID</key>
	<string>day24-33bd6</string>
	<key>STORAGE_BUCKET</key>
	<string>day24-33bd6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:925473543038:ios:30d7bed4ad6f7e07b9192f</string>
</dict>
</plist>