<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>75343386832-vf7ac9tpbmm7imcc5dat5qjiflu8b3ut.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.75343386832-vf7ac9tpbmm7imcc5dat5qjiflu8b3ut</string>
	<key>API_KEY</key>
	<string>AIzaSyDp300CzbZEasTGlEj6REpNOX2P2EZh6lI</string>
	<key>GCM_SENDER_ID</key>
	<string>75343386832</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.saraM.Day24</string>
	<key>PROJECT_ID</key>
	<string>day24-88aac</string>
	<key>STORAGE_BUCKET</key>
	<string>day24-88aac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:75343386832:ios:bffd79063a70135f59e6d5</string>
</dict>
</plist>