<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>488875047662-0epm7gbirt9nh76qqc8aeia1tvhh4orb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.488875047662-0epm7gbirt9nh76qqc8aeia1tvhh4orb</string>
	<key>API_KEY</key>
	<string>AIzaSyACJEVyRQv7Lwnc2K-JftqyBP-mtmeUz-0</string>
	<key>GCM_SENDER_ID</key>
	<string>488875047662</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mun.day-224</string>
	<key>PROJECT_ID</key>
	<string>day224</string>
	<key>STORAGE_BUCKET</key>
	<string>day224.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:488875047662:ios:1157fa859c7418d6a5d1ff</string>
</dict>
</plist>