<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>435279152755-el5o59jgesq9eir70hnqlp8odit2q4o1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.435279152755-el5o59jgesq9eir70hnqlp8odit2q4o1</string>
	<key>API_KEY</key>
	<string>AIzaSyCWcEJUWc-lEYk_DbhfYtSF8D4zTmV2DYg</string>
	<key>GCM_SENDER_ID</key>
	<string>435279152755</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>alanood.com.day-24-3</string>
	<key>PROJECT_ID</key>
	<string>day-24-3</string>
	<key>STORAGE_BUCKET</key>
	<string>day-24-3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:435279152755:ios:c15af0d0a41b9fb6b94c06</string>
</dict>
</plist>