<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>514800137185-k4v7v5vndvoen70nct9t1nglraqdct5j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.514800137185-k4v7v5vndvoen70nct9t1nglraqdct5j</string>
	<key>API_KEY</key>
	<string>AIzaSyBgxCp14ttZxyQm3NVyMJPbQWObiNP6e3M</string>
	<key>GCM_SENDER_ID</key>
	<string>514800137185</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.deemaalkamdi.lab24</string>
	<key>PROJECT_ID</key>
	<string>day24-lab</string>
	<key>STORAGE_BUCKET</key>
	<string>day24-lab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:514800137185:ios:fe4e41f812a9d931c818a0</string>
</dict>
</plist>