<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>79337640182-kn0do5p0206599s4avr0mejjvamme5ua.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.79337640182-kn0do5p0206599s4avr0mejjvamme5ua</string>
	<key>API_KEY</key>
	<string>AIzaSyDNLVlvs5DuVB56QL9CSBF24EMYVIOf_ko</string>
	<key>GCM_SENDER_ID</key>
	<string>79337640182</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aziz.da24</string>
	<key>PROJECT_ID</key>
	<string>day24-97dad</string>
	<key>STORAGE_BUCKET</key>
	<string>day24-97dad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:79337640182:ios:ac613ea4326996e3705cd7</string>
</dict>
</plist>